
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.contiener{
    margin: 0 auto;
    padding: 10px 40px;
    max-width: 90%;
}
a{
    list-style: none;
    text-decoration: none;
}
a:hover{
    color: wheat;
}
button:hover{
    background-color: aqua;
    color: black;
}
@media (min-width:1600px){
    .contiener{
        max-width:1440px ;
       
    }
}

@media (max-width:845px){
    ul li{
        display: none;
    }
    .b{
        width: 90px;
        height: 49px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}
@media (max-width:514px){
    header .contiener{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
     .b{
        width: 60px;
        height: 39px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width:1300px){
    .img_showcase img{
        width: 400px;
        height: 400px;
    }
    .heading h3{
        font-size:57px;
    }
}
@media (max-width:1074px){
    .img_showcase img{
        width: 400px;
        height: 400px;
    }
    .heading h3{
        font-size:45px;
    }
    .heading p{
        font-size: 13px;
    }
}
@media (max-width:964px){
    .img_showcase img{
        width: 300px;
        height: 300px;
    }
    .heading h3{
        font-size:35px;
    }
    .heading p{
        font-size: 10px;
    }
}
@media (max-width:755px){

    .img_showcase img{
       width: auto;
       height: auto;
    }
    .showcase div{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .heading{
        order: 2;
    }
     .heading h3{
        font-size:25;
    }
    .heading p{
        font-size: 8px;
    }
}
@media (max-width:1158px){
    .fff img{
        width: 60px;
        height: 60px;
    }
    .fff h3{
        font-size: 30px;
    }
    .fff p{
        font-size: 13px;
    }
}
@media (max-width:929px){
    .fff img{
        width: 40px;
        height: 40px;
    }
    .fff h3{
        font-size: 25px;
    }
    .fff p{
        font-size: 10px;
    }
}
@media (max-width:706px){
    .fff img{
        width: 80px;
        height: 80px;
    }
    .fff h3{
        font-size: 35px;
    }
    .fff p{
        font-size: 18px;
    }
    .aaa{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

}
@media (max-width:1350px){
   .vvv img{
    width: 350px;
    height: 350px;
   }

   
}
@media (max-width:1010px){

    .should h3{
        font-size: 30px;

    }
    .should p{
        font-size: 14px;
    }
    .should button{
        width: 130px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}
@media (max-width:700px){

    .vvv{
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        justify-content: center;
    }

    .vvv img{
        width: auto;
    }
    .should h3{
        font-size: 49px;

    }
    .should p{
        font-size: 15px;
    }
    

}